.form {
    background-color: aliceblue;
    border: 2px solid red;
    border-radius: 10px;
    padding: 1rem;
    align-self: center;
    min-width: 30%;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
}

.form fieldset {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
}

.form fieldset legend{
    text-transform: capitalize;
}
.form fieldset input {
    
}

.form fieldset button {
    align-self: center;
}