.footer-nav {

}

.footer-nav ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

}

.footer-nav li {
    padding-right: 1em;
}

.footer-nav a {
    text-decoration: none;
}

.footer-nav a:visited {
    color: inherit;
}

.footer-nav a:hover {
    color: aqua;
}