.about {
    padding: 5rem 25vw;
    width: 100%;
    background-color: palegoldenrod;
    background-image: url('https://images.unsplash.com/photo-1455849318743-b2233052fcff?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: min(150vh, 150vw);
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
}

.about h1 {
    font-size: 3rem;
    color: darkblue;
}

.about h2 {
    color: olivedrab;
    font-size: 2rem;
}