.movie-search-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
}

.movie-search-form form {
    flex-basis: 40%;
}

.movie-search-form form fieldset {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.movie-search-form .fieldset-row.fieldset-row-stars {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: stretch;
    height: fit-content;
}

.movie-search-form .fieldset-row.fieldset-row-stars label {
    margin: auto 0;
}