.footer {
    color: rgb(38, 0, 255);
    width: 100%;
    padding: 1rem;
    background-color: rgb(238, 177, 64);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    border-top: 2px solid rgb(255, 153, 0);
}