.footer-info {
    font-weight: 400;
}

.footer-info h3 {
}

.footer-info ul {
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
}

.footer-info li {
    
}