.footer {
    font-family: sans-serif;
    color: #264653;
    width: 100%;
    padding: 1rem;
    background-color: #f4a261;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    border-top: 2px solid #264653;
}