.header-nav {
    text-align: center;
    display: flex;
    /* align-self: flex-end; */
    flex-flow: row wrap;
    align-content: space-between;
    align-items: center;
    list-style: none;
    /* align-self: flex-end; */
    /* border: 2px solid black; */

}

.header-nav li {
    padding: 0.5rem 1rem;
    border: 2px solid orange;
    border-radius: 0.4rem;
    box-shadow: 4px 4px 10px rgba(0,0,0,20%);
    margin-right: 1rem;
    color: rgba(56,74,82, 75%);
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(0,0,0,20%);
    letter-spacing: 1.5px;
    background-color: rgb(223, 226, 28);
}

.header-nav li:last-child {
    margin-right: 0;
}